@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  --gap: 3rem;
}
/* 
body {
  color: rgb(var(--bg-red-500));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
